nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 70px;
  background-color: #F22816;
  padding: 0 20px;

}

  img{
    width: 150px;
    height: 50px;
  }

  .nav__middle{
    width: 400px;
  }

  @media(max-width:720px){
    nav{
      height: 150px;
    }
  }