nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #F22816;
  padding: 0 20px;
}

.nav__left {
  flex: 1;

  img{
    width: 120px;
    height: 50px;
  }
}


.nav__right {
  flex: 1;
}
