.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background-color: white;

  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.input__wrapper input {
  width: 100%;
  padding: 0 10px;
  border: none;
  display: block;
}

.input__wrapper input:focus,
input:active {
  outline: none;
}