  $fire: rgba(235, 71, 38,0.6);
	$grass: rgba(38, 235, 90,0.6);
	$electric: rgba(235, 209, 38,0.6);
	$water: rgba(38, 186, 235,0.6);
	$ground: rgba(181, 131, 92,0.6);
	$rock: rgba(166, 87, 8,0.6);
	$fairy: rgba(255, 148, 191,0.6);
	$poison: rgba(176, 38, 235,0.6);
	$bug: rgba(113, 209, 10,0.6);
	$dragon: rgba(50, 24, 217,0.6);
	$psychic: rgba(219, 77, 207,0.6);
	$flying: rgba(161, 215, 230,0.6);
	$fighting: rgba(235, 104, 38,0.6);
	$normal: rgba(168, 162, 157,0.6);
  $ice : rgba(38, 219, 235,0.6);
  $ghost: rgba(131, 24, 133,0.6);

.container_pokemon{
    max-width: 1300px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    grid-gap: 20px;
    padding: 25px;
    margin: auto;
}
.wrapper-top{
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-transform: capitalize;
   margin-top: 8px;

  svg{
    color:#3d3d3d;
    transition: all 0.2s ease-in-out;
  cursor: pointer;
  }
  svg:hover{
    color:#F22816;
    transform:scale(1.3);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

.wrapper_pokemon{
  // background:(props => props.status == 'inAlert' ? colors.status.alert : (props.status == 'inDowntime' ? colors.status.inDowntime : (props.status == 'inOperation' ? colors.status.inOperation : colors.status.inDowntime) ));
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 15px rgba(100,100,100,0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  height: 400px;
}
.wrapper_pokemon:hover{
  transform:scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

} 
.wrapper-image{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-image img{
  width: 80%;
  height: auto;
}
.wrapper-text{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.grass {
  background-color: $grass;
 
}

.fire {
  background-color: $fire;
 
}

.water {
  background-color: $water;
  
}

.electric {
  background-color: $electric;
 
}

.ice {
  background-color: $ice;
  
}

.fighting {
  background-color: $fighting;
 
}

.poison {
 background-color: $poison;
  
}
.ground {
 background-color: $ground;
 
}

.flying {
  background-color: $flying;
  
}

.psychic {
  background-color: $psychic;
 
}

.ghost {
  background-color: $ghost;
  
}

.bug {
  background-color: $bug;
}

.rock {
  background-color: $rock;
}

.dragon {
  background-color: $dragon;
}

.normal {
  background-color: $normal;

}

.fairy {
  background-color: $fairy;
}